#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.btn {
  background-color: blueviolet;
  padding: 5px 10px;
}